<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Informations modifications delete</title>
</head>
<body>
<H3>formulaire contact </H3>
<form th:action="@{/formulaire}" method="post" >
 <input type="text" name="nom" th:value="${nom}" />
 <input type="text" name="prenom" th:value="${prenom}" />
 <input type="text" name="dateNaissance" th:value="${dateNaissance}" />
 <input type="text" name="age" th:value="${age}" />
 <input type="submit" value="ajouter">
</form>
<p th:text="${message}"></p>

<ul>
	<li><td th:text="${nom}"></td> <td th:text="${prenom}"><td th:text="${dateNaissance}"><td th:text="${age}"></td></a></li> 
</ul> 
</body>
</html>

